/* resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFD6D1;
}

header {
    background-color: #305CDE;
    color: #EFBF04;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #EFBF04;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

main { 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#gallery-slider {
    margin-top:20px;
}

#gallery-slider h3 {
    background-color: #FFFFE3;
    padding: 10px;
    cursor: pointer;
    border: 3px solid #EFBF04;
}

#gallery-slider div {
    padding: 10px;
    border: 3px solid #EFBF04;
    background-color:#305CDE;
}

#gallery-slider img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #305CDE;
    color: #EFBF04;
    text-align: center;
    padding: 1rem;
}

/* Responsive design*/
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
}

